*{
    margin: 0;
    padding: 0;
}
body{
    background-image: linear-gradient(
       circle farthest-side, 
       aqua,
       yellow,
       lightgreen,
       gold,
       deepskyblue
        );
    
    }


table{
    margin-top: 50px;
    position: relative;
}

div.ui{
    background-color: coral;
    width: 90px;
    height: 90px;
}

th,.ui{ background-color: white;
    position: sticky;
    top: 0;
}
.ui{
    top:30px;    }
}

.ngelok{
    top: 29px;
}

table tr th,td{
    margin-top: 50px;
    font-size: 15px;
    color: black;
    padding:5px 6px;
    text-transform: capitalize;
    box-sizing: border-box;
}

td{ line-height: 18px;
    text-align: right;
}

tr .menu{
    width: 160px;
    text-align: left;
}

header{
    background-color: coral;
    position: relative;
}

.wadah{
    position: sticky;
}

header .wadah{
    margin-bottom: 10px;
    padding: 0;
    display:flex;
    text-transform: capitalize;
    float: right;
    padding: 7px;
    background-color: gray;
    position: fixed;
    right: 20px;
    top: 0;
}

.cf:before,
.cf:after{
    content:"";
    display: table;
}
.cf:after{
    clear: both;
}

.wadah .wadahcari{
    display: flex;
}

.wadahcari .sami{
    padding: 5px;
    background-color: white;
    font-size: 19px;
}

.wadahcari .cari{
    display: flex;
    align-items: center;
    border-radius: 3px 0 0 3px;
    
}

.wadahcari input{
    font-size: 19px;
    outline: none;
    border: none;
    border-radius: 0 3px 3px 0;
    width: 170px;
    color: #555;
}

.cari img{
    width: 18px;
    filter: invert(40%);
}

div ul li{
    display: inline-block;
    margin-right: 10px;
    
}

li a{
    text-decoration: none;
    font-size: 23px;
    color: white;
}

li .pemasukan{
    display: none;
}

.wadah ul li:hover .pemasukan{
    display: block;
}

.awal_bulan{
    background-color: yellow;
}

span{
    text-decoretion:underline;
    color: red;
}

td.r, td.g{
    font-size: 15px;
    color: white;
    text-shadow: 0 0 3px;
    padding: 2px;
}

td sup{
    font-size: 5px;
    margin: 0 0 -7px -3px;
}

.g{
    background-color: deepskyblue;
}

.r{
    background-color: red;
}

table tr td{
    padding: 2px;
}
/*/
.bksbagan{
    width: 500px;
    background-color: deepskyblue;
    border-radius: 10px;
    margin: 300px auto;
}

.bagan{
    border-radius: 10px;
    width: 47%;
    height: 5px;
    background-color: blue;
}